#heading{
    list-style-type: none;
    text-align: center;
}
#heading .center{
    display: inline-block;
}
#heading .left{
    transform: translate(-75px);
}
#heading .right{
    transform: translate(75px);
}
h1{
    font-family: Helvetica, sans-serif;
}
