#heading{
    list-style-type: none;
    text-align: center;
}
#heading .center{
    display: inline-block;
}
#heading .left{
    transform: translate(-75px);
}
#heading .right{
    transform: translate(75px);
}
h1{
    font-family: Helvetica, sans-serif;
}
#body{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}
#body #periods, #body .row{
    display: inline-block;
}
#lbttn, #rbttn{
    transform: translate(0px, 20px);
}
