body{
    background-color: rgb(18,18,19);
    color: white;
    font-family: Helvetica, sans-serif;
}
hr{
    border: none;
    height: 2px;
    background-color: rgb(58,58,60);
}
h1{
    font-family: Helvetica, sans-serif;
}
img{
    background-color: white;
}
#heading{
    list-style-type: none;
    text-align: center;
}
#heading .center{
    display: inline-block;
}
#heading .left{
    transform: translate(-75px);
}
#heading .right{
    transform: translate(75px);
}
#body{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
}
#body #periods, #body .row{
    display: inline-block;
}
#lbttn, #rbttn{
    transform: translate(0px, 20px);
}
